# pip install -r requirements.txt

# Base ----------------------------------------
numpy>=1.18.5
open3d>=0.15.1
scikit-learn>=1.0.2
tqdm>=4.64.0
psycopg2>=2.9.3
sqlalchemy>=1.4.36
geoalchemy2>=0.11.1

# Plotting ------------------------------------
plotly>=5.8.0
pandas>=1.3.5

